body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    background-color: rgb(249, 249, 249)
}

.tree {
    min-height: 10px;
    padding: 2px;
    margin-bottom: 10px;
    background-color: #fbfbfb;
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 1px;
    font-size: 14px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

.tree li {
    list-style-type: none;
    margin: 0;
    padding: 7px 5px 0 0px;
    position: relative
}

.tree li::before, .tree li::after {
    content: '';
    left: -20px;
    position: absolute;
    right: auto
}

.tree li::before {
    border-left: 1px solid #999;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px
}

.tree li::after {
    border-top: 1px solid #999;
    height: 20px;
    top: 25px;
    width: 25px
}

.tree li span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    display: inline-block;
    padding: 1px 4px;
    text-decoration: none
}

.tree li.parent_li > span {
    cursor: pointer
}

.tree > ul > li::before, .tree > ul > li::after {
    border: 0
}

.tree li:last-child::before {
    height: 25px
}

.tree li.parent_li > span:hover, .tree li.parent_li > span:hover + ul li span {
    background: #eee;
    border: 1px solid #94a0b4;
    color: #000
}

.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding: 2px 2px;
    font-size: 15px;
}

.table-condensed > thead {
    border-top:0px ;
    font-weight: bold;
    font-size: 18px;
}

.thead ,
.thead > td {
    border-top:0px !important;
    font-weight: bold;
    font-size: 18px;
}

.no-border > tbody > tr > td{
    border-top:0px !important;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout-info {
    border-left-color: #1b809e;
}
.bs-callout-info h4 {
    color: #1b809e;
}
.bs-callout-danger {
    border-left-color: #ce4844;
}

.bs-callout-danger h4 {
    color: #ce4844
}

.bs-callout-warning {
    border-left-color: #aa6708;
}

.bs-callout-warning h4 {
    color: #aa6708
}

.bs-callout + .bs-callout {
    margin-top: -5px;
}

.error-message-container{
    display: none;
}

.float_left{
     float: left;
}
.float_right {
    float:right;
}

#global-notification{
    display:none ;
    margin-top:30px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.container-fluid>.row{
    margin-top: 30px;
}

thead {
    font-weight: bold;
    font-size: 18px;
}